{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title">Edit Profile</h4>
                        <form method="post" action="{% url 'edit_profile' %}">
                            {% csrf_token %}
                            {% if profile_form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ profile_form.non_field_errors }}
                                </div>
                            {% endif %}
                            {{ profile_form.as_p }}
                            <div class="text-right">
                                <button type="submit" name="update_profile" class="btn btn-primary">Update Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title">Change Password</h4>
                        <form method="post" action="{% url 'edit_profile' %}">
                            {% csrf_token %}
                            {% if password_form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ password_form.non_field_errors }}
                                </div>
                            {% endif %}
                            {% for field in password_form %}
                                <div class="form-group{% if field.errors %} has-error{% endif %}">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <span class="help-block text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <div class="text-right">
                                <button type="submit" name="change_password" class="btn btn-secondary">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
